.swiper-pagination-bullet{
    background-color: #ffb700 !important;
    color: #ffb700 !important;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 15px !important;
}